@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
}

.logo_header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.nav-pills {
    align-items: center;
}

ul li {
    color: black;
}

.nav-pills-castom {
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
    list-style: none;
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
}

.nav-item-castom-active {
    color: #831ED2;
    font-weight: 500;
}

.nav-item-castom {
    font-size: 14px;
    padding: 10px 20px;
}

.iam-col-bottom-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    width: 594px;
    line-height: 99.34%;
    display: flex;
    margin: 0;
    align-items: flex-end;
    color: #000000;

}

.block-line {
    background-color: #000000;
    width: 35px;
    margin: 0;
    height: 3px;
}

.col-block-line {
    align-self: center;
    margin: 0;
    padding: 0;
}

.block-hello-p {
    padding: 0;
    margin: 0;
}


.container-main {
    padding-top: 175px;
    padding-bottom: 175px;
}

.row-top {
    margin-bottom: 10px;
}

.row-main-hello {
    align-items: center;
    align-content: center;
}

.col-right-main-hello {
    padding-top: 50px;
    position: relative;
}

.about-text-h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.about-row-top {
    margin-bottom: 20px;
}

.about-col-line-block {
    margin-bottom: 60px;
}

.col-right-main-hello::before {
    left: 80%;
    position: absolute;
    content: url(./img/god_designer.png);
    top: -55%;
    transition: 2ms all ease-in-out;
}

.col-left-main-hello {
    align-self: center;
}

.about-col {
    margin: auto;
    width: 515px;
}

.loader {
    background-image: url(./img/Loader.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.links-block {
    width: fit-content;
    transform: rotate(270deg);
    position: absolute;
    left: -6%;
    top: 39%;
}

.link {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.link-a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

}

.link-a:hover {
    color: #831ED2;
    border-bottom: 1px solid #831ED2;
    ;
}

.links-span {
    font-weight: 600;
}

.filters-block {
    width: 660px;
    margin: auto;
    margin-bottom: 175px;
}

.filter-h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 145px;
    margin: auto;
    color: #000000;
}

.filter-h5-active {
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin: auto;
    width: 145px;
}

.row-filters-top {
    margin-bottom: 20px;
}

.filters-item-block {
    background-color: #19002D;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
}

.filters-item-block-noactive {
    background-color: white;
    color: #19002D;
    border-radius: 20px;
    border: 1px solid #19002D;
    padding: 5px 15px;
}

.filters-item-block-row {
    justify-content: center;
}

.filters-item-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 82.34%;
    color: #F5F5F5;
}

.filters-item-col {
    width: auto !important;
}

.filters-items-top {
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
}

.filters-items-bottom {
    margin-bottom: 50px;
}

.filters-item-noactive {
    color: #19002D;
    font-weight: 500;
}

.projects-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 82.34%;
    align-items: center;
    color: #000000;
    padding-bottom: 20px;
}

.projects-h1-block {
    border-bottom: 2px solid #000000;
    margin-bottom: 75px;
}

.project1-pic {

    height: auto;
}

.projects-example-pic {
    width: 100%;
    align-items: center;
}

.col4 {
    width: 31.333333% !important;
}

.col2 {
    width: 5.166667% !important;
    align-self: center;
}

.btn-add-block {
    width: 100%;
    height: 39px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

.btn-add-plus {
    margin: 0;
}

.colhello {
    margin: auto;
    width: 45% !important;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:focus {
    outline: 0;
}


fa-plus:before {
    content: "+";
}

.fa, .fas {
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-size: 45px;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.projects-container {
    margin-bottom: 175px;
}

.skills-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 82.34%;
    align-items: center;
    color: #000000;
    padding-bottom: 20px;
}

.skills-h1-block {
    border-bottom: 2px solid #000000;
    margin-bottom: 75px;
}

.p-examples {
    font-size: 14px;
    width: 365px;
}

.skill-span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000000;

}

.skill-block {
    padding: 0 15px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin: 0 20px;
    padding-top: 5px;
    transition: all 0.4s cubic-bezier(0, 0.69, 0.54, 1.18);
}

.skill-block:hover {
    border: 1px solid black;
    border-radius: 25px;

}

.skills-row {
    margin-bottom: 30px;
    justify-content: center;
}

.skill-block-active {
    border: 1px solid #000000;
    border-radius: 18px;
    padding: 5px 50px;
}

.skills-container {
    margin-bottom: 50px;
}

.slick-slide {
    text-align: center;
    font-size: 14px;
}

.slick-prev {
    display: none !important;
}

.slide-item {
    padding-right: 45px;
}

.slick-next {
    background-color: #ffffff;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 97%;
}

.slick-next:active {
    border: 1px solid black;
    box-shadow: 2px 2px 5px #831ED2;
}

.row-skills {
    margin-bottom: 150px;
}

.about-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 82.34%;
    align-items: center;
    color: #000000;
    padding-bottom: 20px;
}

.about-h1-block {
    border-bottom: 2px solid #000000;
    margin-bottom: 75px;
}

.h1-iam {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    width: 500px;
    color: #000000;
    margin-bottom: 25px;
}

.h1-iam-bottom {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    width: 500px;
    color: #000000;
}

.h1-ido {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    width: auto;
    color: #000000;
    margin: 0;
}

.row-ido {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    width: 500px;
    color: #000000;
}

.row-about {
    margin-bottom: 75px;
}

.number-ido {
    border: 1px solid black;
    border-radius: 50%;
    padding: 0 7px;
    text-align: center;
}

.number-ido-block {
    margin-right: 5px;
    margin-left: 0px;
}

.number-i {
    padding: 5px;
    font-size: 14px;
}

.h1-ido-block {
    align-self: center;
}

.accordions {
    overflow: hidden;
    width: 525px;
    margin: 0px auto;
    font-size: 1.2em;
}

.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
}

.acc-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: black;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 1px solid black;
    padding: 15px 5px;
}

.accordion:first-child {
    border-bottom: 1px solid;
}


.acc-label:hover {
    background-color: white;
}

.acc-label::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.4s ease;
}

.acc-content {
    max-height: 0;
    padding: 0 1em;
    color: black;
    background-color: white;
    transition: all 0.4s ease;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

input:checked+.acc-label::after {
    transform: rotate(-90deg);
}

input:checked~.acc-content {
    max-height: 100vh;
    padding: 1em;
}

.header-ido {
    margin-left: 15px;
    margin-right: auto;
    color: black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
}

.col-right-about {
    align-self: center;
    flex: 0 0 auto;
    width: 50% !important;
}

.contact-img {
    width: 50px;
    height: 50px;
    margin: 0 15px;
}

.contacts-row {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

footer {
    background-image: url(./img/separator.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 50px;
}

.h1-contacts {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    margin: 0 45px;
    line-height: 55px;
    letter-spacing: 0.09em;
    color: #000000;
}

.button-plus-i {
    font-size: 35px;
    font-style: normal;
    font-weight: 200;
}

.projects-slide-item {
    text-align: left;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.arrow-block {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 90%;
    left: 94%;
}

.arrow-block-img {
    width: 100%;
    height: auto;
    transform: rotate(270deg);
}