@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}

.logo_header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.nav-pills {
    align-items: center;
}

ul li {
    color: black;
}

.nav-pills-castom {
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
    list-style: none;
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
}

.nav-item-castom-active {
    color: #831ED2;
    font-weight: 500;
}

.nav-item-castom {
    font-size: 14px;
    padding: 10px 20px;
}

.iam-col-bottom-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    width: 594px;
    line-height: 99.34%;
    display: flex;
    margin: 0;
    align-items: flex-end;
    color: #000000;

}

.block-line {
    background-color: #000000;
    width: 35px;
    margin: 0;
    height: 3px;
}

.col-block-line {
    align-self: center;
    margin: 0;
    padding: 0;
}

.block-hello-p {
    padding: 0;
    margin: 0;
}


.container-main {
    padding-top: 150px;
    padding-bottom: 150px;
}

.row-top {
    margin-bottom: 10px;
}

.col-right-main-hello {
    padding-top: 50px;
    position: relative;
}

.about-text-h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.about-row-top {
    margin-bottom: 20px;
}

.about-col-line-block {
    margin-bottom: 60px;
}

.col-right-main-hello::before {
    left: 80%;
    position: absolute;
    content: url(./img/god_designer.png);
    top: -55%;
}

.col-left-main-hello {
    align-self: center;
}

.about-col {
    margin: auto;
    width: 515px;
}

.loader {
    background-image: url(./img/Loader.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.links-block {
    width: fit-content;
    transform: rotate(270deg);
    position: absolute;
    left: -6%;
    top: 39%;
}

.link {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.link-a {
    color: black;
    text-decoration: none;
}

.links-span {
    font-weight: 600;
}

.filters-block {
    width: 660px;
    margin: auto;
    margin-bottom: 150px;
}

.filter-h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 145px;
    margin: auto;
    color: #000000;
}

.filter-h5-active {
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin: auto;
    width: 145px;
}

.row-filters-top {
    margin-bottom: 20px;
}

.filters-item-block {
    background-color: #19002D;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
}

.filters-item-block-noactive {
    background-color: white;
    color: #19002D;
    border-radius: 20px;
    border: 1px solid #19002D;
    padding: 5px 15px;
}

.filters-item-block-row {
    justify-content: center;
}

.filters-item-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 82.34%;
    color: #F5F5F5;
}

.filters-item-col {
    width: auto !important;
}

.filters-items-top {
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
}

.filters-items-bottom {
    margin-bottom: 50px;
}

.filters-item-noactive {
    color: #19002D;
    font-weight: 500;
}

.projects-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 82.34%;
    align-items: center;
    color: #000000;
    padding-bottom: 20px;
}

.projects-h1-block {
    border-bottom: 2px solid #000000;
    margin-bottom: 75px;
}

.project1-pic {
   
    height: auto;
}

.projects-example-pic {
    width: 100%;
    align-items: center;
}

.col4{
    width: 31.333333% !important;
}

.col2{
    width: 5.166667% !important;
}

.btn-add-block {
    width: 100%;
    height: 39px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

.btn-add-plus{
    margin: 0;
}