@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}

.logo_header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.nav-pills{
    align-items: center;
}

ul li{
    color: black;
}

.nav-pills-castom{
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
    list-style: none;
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
}

.nav-item-castom-active{
    color: #831ED2;
    font-weight:500;
}


.iam-col-bottom-h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    width: 594px;
    line-height: 99.34%;
    display: flex;
    align-items: flex-end;
    color: #000000;

}

.block-line{
    background-color: #000000;
    width: 35px;
    margin: 0;
    height: 3px;
}

.col-block-line{
    align-self: center;
    margin: 0;
    padding: 0;
}

.block-hello-p{
    padding: 0;
    margin: 0;
}

.col-left-main-hello{
    margin-top: 100px;
}

.row-main-hello{
    margin-top: 100px;
}